.parting-line-dropdown {
  border: 1px solid rgba(209, 209, 209, 1);
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-contact {
  height: 68px;
  width: 100%;
  gap: 35px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 3px;
  margin-top: 3px;
}

select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none; /* Entfernt das Standard-Styling */
  background-image: url(""); /* Pfad zum Bild */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position des Bildes */
  background-size: 8px !important; /* Größe des Bildes */
  padding-right: 30px; /* Platz für das Bild */
  cursor: pointer;
}

.subtask-div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 0.25rem;
  width: 100%;
  height: 7rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.padding-10 {
  padding: 5px;
}

.width-460 {
  width: 460px;
}
.urgent-btn-clicked {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-weight: 800;
}

.cursor-pointer {
  cursor: pointer;
}

.input-spacer {
  height: 22px;
  border: 1px solid #ccc;
}

.padding-right-36 {
  padding-right: 36px;
}

.task-input-style {
  font-size: 24px;
  width: 100%;
  height: auto;
  padding: 16px 24px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  background-size: 24px;
}

.height-130 {
  height: 130px;
}

.prio-btn-padding {
  padding: 18px 12px;
}

.input-prio {
  padding: 18px 20px;
  background-color: white;
}

.input-prio:hover {
  cursor: pointer;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
}

.due-date-field {
  position: relative;
  background-image: url(/assets/img/event.png);
  background-repeat: no-repeat;
}

.due-date-field::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer; /* Stelle sicher, dass der Cursor als Zeiger angezeigt wird */
}

.dropdown-icon {
  position: absolute;
  top: 55px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.input-dropdown {
  position: relative;
}

.input-style-description {
  padding-bottom: 80px;
}

.font-size-20 {
  font-size: 20px;
}
