.parting-line-dropdown {
  border: 1px solid rgba(209, 209, 209, 1);
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-contact {
  height: 68px;
  width: 100%;
  gap: 35px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 3px;
  margin-top: 3px;
}

select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none; /* Entfernt das Standard-Styling */
  background-image: url("assets/img/arrow_drop_down.png"); /* Pfad zum Bild */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position des Bildes */
  background-size: 8px !important; /* Größe des Bildes */
  padding-right: 30px; /* Platz für das Bild */
  cursor: pointer;
}

.subtask-div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 0.25rem;
  width: 100%;
  height: 7rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.padding-10 {
  padding: 5px;
}

.width-440 {
  width: 440px;
}
.urgent-btn-clicked {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-weight: 800;
}
