.parting-line-dropdown {
  border: 1px solid rgba(209, 209, 209, 1);
  width: 100%;
  margin-bottom: 5px;
}

.task-input-style {
  width: 100%;
  height: auto;
  padding: 16px 24px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  background-size: 24px;
  cursor: pointer;
  border: unset;
}

.task-btn-style {
  width: 100%;
  height: auto;
  padding: 16px 24px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  background-size: 24px;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color:rgba(0, 0, 0, 1);
}

.task-input-style::placeholder {
  color: rgba(209, 209, 209, 1);
  font-size: 20px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 24px;
}

.assigned-div {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 200px;
  width: 460px;
  margin-top: 297px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
}

.category-div {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 118px;
  width: 460px;
  margin-top: 219px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.subtask-div {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  height: 118px;
  width: 460px;
  margin-top: 242px;
  gap: 10px;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-contact {
  height: 68px;
  width: 100%;
  gap: 35px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 3px;
  margin-top: 3px;
}

.task-category {
  font-size: 24px;
  padding: 16px 24px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.task-category:hover {
  background-color: #f6f7f8;
}

.category-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.urgent-btn-clicked {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-weight: 800;
}

.input-style-description {
  padding-bottom: 80px;
  font-family: "Inter";
  height: 130px;
}

.input-style-description::placeholder {
  font-size: 24px;
  padding-top: 3px;
}

.input-prio {
  padding: 18px 20px;
  background-color: white;
}

.input-prio:hover {
  cursor: pointer;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
}

.due-date-field {
  position: relative;
  background-image: url(/assets/img/event.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.due-date-field::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.input-icon-div {
  position: absolute;
  top: 50%;
  right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.input-icon-div:hover {
  background-color: rgba(204, 204, 204, 0.4);
}

.icon-edit-delete {
  right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.icon-edit-delete:hover {
  background-color: rgba(204, 204, 204, 0.4);
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.input-dropdown {
  position: relative;
}

.font-size-20 {
  font-size: 20px;
}

.color-white {
  color: white;
}

.active-prio-btn-urgent {
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
}

.active-prio-btn-medium {
  background-color: #ffa800;
  color: white;
  font-weight: 700;
}

.active-prio-btn-low {
  background-color: #7ae229;
  color: white;
  font-weight: 700;
}

.filter-prio-btn {
  filter: invert(100%) brightness(10);
}

.position-relativ {
  position: relative;
}

.width-460 {
  width: 460px;
}

.cursor-pointer {
  cursor: pointer;
}

.padding-right-36 {
  padding-right: 36px;
}

input:focus {
  outline: 2px solid rgb(143, 208, 237);
}

textarea:focus {
  outline: 2px solid rgb(143, 208, 237);
}

.invalid-field {
  border: 1px solid red; /* Rote Umrandung für ungültige Felder */
}
