.input-style {
  width: 100%;
  height: auto;
  padding: 20px 24px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  background-size: 24px;
}

.input-style-search {
  padding: 10px 14px !important;
  background-color: white;
}

.search-board-input {
  padding: 10px 14px;
  border: none;
  outline: none;
}

.search-icon img:hover {
  cursor: pointer;
}

.input-name {
  background-image: url("../assets/img/person.svg");
}

.input-email {
  background-image: url("../assets/img/mail.svg");
}

.input-password {
  background-image: url("../assets/img/lock.svg");
}

.input-phone {
  background-image: url("../assets/img/phone.svg");
}

/*
.input-dropdown-arrow {
  background-image: url("../assets/img/arrow_drop_down.png");
}*/

.input-style::placeholder {
  color: rgba(209, 209, 209, 1);
  font-size: 20px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 24px;
}

.placeholder-black::placeholder {
  color: rgba(0, 0, 0, 1);
}

.input-font {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.input-style-description::placeholder,
.input-login::placeholder {
  color: lightgray;
  font-size: 20px;
  line-height: 24px;
}

#loginCheckbox,
#signUpCheckbox {
  width: 24px;
  height: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 15px 24px;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 25.2px;
  border: none;
  text-wrap: nowrap;
}

.btn-message {
  border-radius: 8px;
  padding: 25px 24px;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 25.2px;
  border: none;
  text-wrap: nowrap;
}

.btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
}

.btn-alt {
  background-color: white;
  border: 1px solid #2a3647;
  color: #2a3647;
}

.btn-alt:hover {
  background-color: white;
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 15px 24px;
  font-size: 21px;
  border: solid;
  border-width: 1px;
  border-color: #2a3647;
  text-wrap: nowrap;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(42, 54, 71, 1);
}

.clear-btn:hover {
  border-color: #29abe2;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
  color: #29abe2;
}

.clear-btn:hover svg.contact-header-svg {
  fill: #29abe2;
}

.btn-board {
  border-radius: 8px;
  padding: 4px 16px;
  background-color: rgba(0, 56, 255, 1);
  color: white;
  line-height: 19.2px;
  border: none;
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 400;
}

.animation-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.logo-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, 0);
  animation: moveLogo 2s 1 forwards, shrinkLogo 0.7s 1 forwards;
  /* Zwei Animationen kombinieren */
  animation-delay: 0.5s;
  /* Pause von 1 Sekunde vor Beginn der Animation */
}

.move {
  position: absolute;
}

@keyframes moveLogo {
  to {
    top: -120px;
    left: -76px;
  }
}

@keyframes shrinkLogo {
  to {
    transform: translate(0, 0) scale(0.25);
    /* Verkleinere das Logo auf die Hälfte */
  }
}

.index-logo {
  width: 400px;
  height: 500px;
}

.logo {
  width: 100px;
  height: auto;
}

.y-line-blue {
  border-left: 3px solid #29abe2;
  height: 73px;
}

.y-line-grey {
  border-left: 3px solid rgba(209, 209, 209, 1);
  height: 100px;
}

.card {
  display: flex;
  flex: 1;
  border-radius: 30px;
  padding: 38px 76px;
  background-color: rgba(255, 255, 255, 1);
  margin: 10px;
  color: rgba(0, 0, 0, 1);
}

.card:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: #2a3647;
}

.card-small {
  padding: 38px 48px;
  min-width: 100px;
  max-width: 10px;
}

.summary-icon {
  width: 65px;
  height: 65px;
}

.back-arrow {
  width: 32px;
  height: 32px;
}

.div-underline {
  width: 100%;
}

.div-parting {
  height: 100%;
}

.div-partingline {
  height: 490px;
  width: 1px;
  background-color: rgba(209, 209, 209, 1);
}

.add-task-partingline {
  height: 450px;
  width: 1px;
  background-color: rgba(209, 209, 209, 1);
}

.drag-area {
  height: 900px;
  width: 220px;
  padding: 0 20px;
  margin-bottom: 50px;
  /* 
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px dashed black;
  */
}

.todo {
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.todo p {
  color: rgba(168, 168, 168, 1);
  font-size: 16px;
}

ol li::marker {
  font-size: 27px;
  line-height: 32.4px;
  font-weight: 700;
}

li {
  margin: 20px 0;
}

.progress {
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
  width: 50%;
  margin-right: 5px;
  box-sizing: border-box;
}

.progress-bar {
  height: 10px;
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
}

.progress-bar.blue {
  background-color: rgba(69, 137, 255, 1);
}

.statusText {
  width: 50%;
  margin-left: 5px;
  box-sizing: border-box;
}

.outside {
  right: 0;
}

#boardTaskPopup {
  display: none;
}

.popup-bg-filter {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.board-task-popup-container {
  width: 35%;
  height: 80%;
  border-radius: 30px;
  position: relative;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
}

.close-button-div:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
}

.popup-close-button img {
  cursor: pointer;
}

.edit-style:hover,
.delete-style:hover {
  color: #29abe2;
  cursor: pointer;
}

#boardAddTaskPopup {
  display: none;
}

.board-add-task-popup-container {
  width: 70%;
  height: 80%;
  overflow: scroll;
  border-radius: 30px;
  position: absolute;
  z-index: 9999;
}

#headerSymbolPopup {
  display: none;
  margin-right: 20px;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  right: 0;
  top: 96px;
  width: 150px;
  height: 158px;
  padding: 10px;
  z-index: 99999999;
}

.symbolPopupLink {
  padding: 4px 28px !important;
  white-space: nowrap;
  color: rgba(205, 205, 205, 1) !important;
}

#loginMessageContainer {
  display: none;
  justify-content: center;
  position: absolute;
  bottom: -20%;
  height: 300px;
  width: 50%;
  box-sizing: border-box;
}

#messageFormLogin {
  display: none;
  min-width: 50%;
  height: auto;
  box-sizing: border-box;
  position: absolute;
  z-index: 9999;
}

@keyframes slideTop {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.animation-up {
  animation: slideTop 0.3s ease-in-out forwards;
}

.animation-down {
  animation: slideOutDown 0.3s ease-in-out forwards;
}

.centered-up {
  bottom: 70%;
}

.outside-down {
  bottom: 0;
}

#signUpMessageContainer {
  display: none;
  justify-content: center;
  position: absolute;
  bottom: -40%;
  height: 300px;
  width: 50%;
  box-sizing: border-box;
}

#messageFormSignUp {
  display: none;
  min-width: 50%;
  height: auto;
  box-sizing: border-box;
  position: absolute;
  z-index: 9999;
}

.popup-guest-message {
  background-color: #2a3647;
  width: 20%;
  height: auto;
  border-radius: 30px;
  position: absolute;
  z-index: 9999;
  color: white;
}

#guestMessagePopupContacts {
  display: none;
}

#guestMessagePopupSummary {
  display: none;
}

#guestMessagePopupBoard {
  display: none;
}

#guestMessagePopupAddTask {
  display: none;
}

.guestPopupLinkStyle {
  color: white;
  text-decoration: underline;
}

.contact-circle-small {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
  height: 35px;
  width: 35px;
}

.contact-circle-small-letters {
  font-family: "Inter";
  font-size: 13px;
  line-height: 14.4px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.class1 {
  height: 200px;
}

#resultMessageDiv {
  display: none;
}

.icon-separator {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
}
