.contact-page-wrapper {
    display: flex;
}

.contact-right-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-wrapper {
    margin: 0 0 0 232px;
    min-width: 456px;
    height: calc(100vh - 96px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    scrollbar-color: rgba(168, 168, 168, 1) rgba(255, 255, 255, 1);
    scrollbar-width: thin;
    overflow-x: hidden;
}
  
  .contact-btn-wrapper {
    width: 456px;
    height: 101px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .contact-btn {
    width: 352px;
    height: 56px;
    padding: 12px 0px 12px 0px !important;
    gap: 16px;
  }
  
  .contact-btn-img {
    height: 32px;
    width: 32px;
  }
  
  .contact-list-wrapper {
    width: 456px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .contact-letter {
    width: 352px;
    height: 58px;
    padding: 17px 36px 17px 36px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
  }
  
  .contact-small {
    height: 78px;
    width: 352px;
    gap: 35px;
    padding: 15px 24px 15px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 3px;
    margin-top: 3px;
  }
  
  .contact-small:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
  
  .contact-small-active { /* FOR CLICKED CONTACT ONLY */
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1) !important;
  } 
  
  .contact-small-active:hover { /* FOR CLICKED CONTACT ONLY */
    cursor: pointer;
    background-color: rgba(42, 54, 71, 1);
  }
  
  .contact-circle {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
    height: 42px;
    width: 42px;
  }
  
  .contact-circle-letters {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 14.4px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .contact-name-mail-wrapper {
    max-width: 70%;
    line-break: auto;
  }
  
  .contact-name {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .contact-mail {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: rgba(0, 124, 238, 1);
  }
  
  .parting-line {
    border: 1px solid rgba(209, 209, 209, 1);
    width: 352px;
    margin-bottom: 5px;
  }
  
  .contact-right {
    height: 73px;
    margin: 110px 0 0 55px;
    display: flex;
  }
  
  .contact-right-text-big {
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 73.2px;
    box-sizing: border-box;
  }
  
  .vertical-parting-line {
    border: 3px solid rgba(41, 171, 226, 1);
    height: 59px;
  }
  
  .contact-right-text-small {
    color: rgba(42, 54, 71, 1);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
  }
  
  .contact-info {
    height: 364px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    margin: 110px 0 0 55px;
}
  
  .contact-card-header {
    height: 120px;
    gap: 54px;
    display: flex;
    align-items: center;
  }
  
  .circle-big {
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: teal;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
  }
  
  .contact-card-header-text {
    height: auto;
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
  }

  .contact-card-header-text-span {
    width: 100%;
    line-break: auto;
    display: flex;
  }
  
  .contact-card-header-icons {
    height: 24px;
    margin-top: 8px;
  }
  
  .contact-header-svg {
    height: 24px;
    width: 24px;
    fill: rgba(42, 54, 71, 1);
  }
  
  .header-icons-wrapper:hover .contact-header-svg,
  .header-icons-wrapper:hover .contact-header-span {
    fill: rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
  }
  
  .contact-header-span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: rgba(42, 54, 71, 1);
  }

  .mail-phone-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .span-thick {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(0, 0, 0, 1);
  }

  .contact-phone {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }

  .add-contact-container-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .add-contact-container {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 100%;
  }

  .add-contact-container-left {
    height: 594px;
    width: 40%;
    max-width: 576px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 40px 0 0 40px;
    padding: 66px 48px;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .add-contact-container-right {
    height: 594px;
    width: 60%;
    max-width: 864px;
    border-radius: 0px 40px 40px 0px;
    padding: 66px 48px;
    background-color: rgba(255, 255, 255, 1);
  }

  .add-contact-img {
    padding-top: 140px;
    height: 66.48px;
    width: 55.6px;
  }

  .horizontal-partingline {
    border: 3px solid rgba(41, 171, 226, 1);
    width: 90px;
  }

  .add-contact-span-big {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
  }

  .add-contact-span-small {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
  }

  .add-contact-container-right-img {
    width: 25px;
    height: 25px;
  }

  .add-contact-container-right-img-wrapper {
    border-radius: 50%;
    height: 33px;
    width: 33px;
    margin-top: -8px;
  }

  .add-contact-container-right-img-wrapper:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }

  .add-contact-container-right-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .btn-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 36px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .contact-grey-svg {
    height: 120px;
    width: 120px;
  }

  .add-contact-container-right-bottom-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: -33px;
  }

  .close-contact-btn {
    position: relative;
    z-index: 10;
  }

  .contact-info-wrapper {

  }
