@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open_Sans_regular';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open_Sans_italic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

body {
    font-family: "Inter";
    color: #000000;
    font-size: 16px;
}

h2 {
    font-size: 73px;
}

h3 {
    font-size: 64px;
}

h4 {
    font-size: 47px;
}

h5 {
    height: 27px;
}

.text-underline {
    border-top: 3px solid #29ABE2;
    width: 150px;
}

a {
    cursor: pointer;
}

.legal-links a:hover {
    color: #29ABE2;
    font-weight: bold;
}

#userName {
    font-size: 64px;
    color: rgba(41, 171, 226, 1);
    font-weight:bold;
}