@media screen and (max-width: 1320px) {
    .contact-right-text-big {
        font-size: 47px;
    }

    .contact-right-text-small {
        font-size: 20px;
    }

    .contact-wrapper {
        min-width: 400px;
    }

    .contact-card-header-text {
        font-size: 36px;
    }

    .circle-big {
        min-width: 80px;
        min-height: 80px;
        font-size: 27px;
    }

    .contact-card-header {
        gap: 20px;
    }
}

@media screen and (max-width: 1260px) {
    .contact-success {
        width: 280px;
    }
}


@media screen and (max-width: 1140px) {
    .contact-right {
        gap: 8px;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-right-text-big {
        line-height: 47px;
    }

    .contacts-y-line-blue {
        width: 90px;
        height: 3px;
        order: 2;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-drag-area-category {
        gap: 50px !important;
    }
}

@media screen and (max-width: 980px) {
    .contact-wrapper {
        min-width: 300px;
    }

    .contact-small {
        width: 95%;
        gap: 10px;
    }

    .contactlist-letterbox {
        width: 95%;
    }

    .contact-btn {
        width: 95%;
    }
}

@media screen and (max-width: 900px) {
    .sidebar {
        height: 80px;
        width: 100%;
        left: 0;
        top: auto;
        bottom: 0;
        padding: 0 16px;
    }

    .sidebar-logo {
        display: none;
    }

    .sidebar-links {
        height: 100%;
        gap: 10px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: row;
    }

    .sidebar-legal {
        display: none;
    }

    .sidebar-menu {
        flex-direction: column;
        padding: 8px 53px 8px 53px;
    }

    .sidebar-icon {
        height: 24px;
    }
}