@media screen and (max-width: 620px) {
  .mobile-signup-div {
    position: absolute;
    top: 832px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 285px;
  }

  .mobile-checkbox-policy {
    width: 244px;
  }

  .mobile-login-body {
    padding-top: 38px;
    padding-bottom: 26px;
  }

  .mobile-links {
    padding-bottom: 32px;
    padding-top: 112px;
  }
}

@media screen and (max-width: 500px) {
  .mobile-login-form-container {
    padding-right: 0;
    padding-left: 0;
    width: inherit;
  }

  .mobile-login-body {
    padding-right: 20px;
    padding-left: 20px;
  }

  .mobile-inputs {
    width: 90%;
    margin: auto;
  }

  .mobile-remember-me {
    padding-right: 25%;
  }
  .mobile-login-form {
    padding-right: 0;
    padding-left: 0;
  }

  .mobile-signup-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile-signup-container {
    width: inherit;
  }
}

@media screen and (max-width: 450px) {
  .mobile-login-form {
    gap: 30px;
  }
  .mobile-signup-div {
    top: 832px;
  }

  .mobile-login-btns {
    flex-direction: column;
  }

  .mobile-login-btn {
    width: 100%;
  }

  .mobile-links {
    padding-top: 116px;
  }
}
