@media screen and (max-width: 1320px) {
    .contact-right-text-big {
        font-size: 47px;
    }

    .contact-right-text-small {
        font-size: 20px;
    }

    .contact-wrapper {
        min-width: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-drag-area-category {
        gap: 50px !important;
    }
}

