body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(246, 247, 249);
    box-sizing: border-box;
}

.topline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.login-form-container {
    border-radius: 20px;
}

.sidebar {
    background-color: rgb(42, 53, 70);
    height: 100%;
    box-sizing: border-box;
    min-width: 232px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-logo {
    width: 100.03px;
    height: 121.97px;
}

.sidebar-menu {
    color: white;
}

.sidebar-menu:hover {
    background-color: #091931;
    cursor: pointer;
}

.sidebar-icon {
    height: 30px;
    width: 30px;
}

.aot {
    box-shadow: 1px 4px 4px rgb(233, 233, 233);
    height: 80px;
    width: calc(100% - 232px);
    box-sizing: border-box;
    margin-left: 232px;
}

.main-container {
    background-color: rgb(246, 247, 249);
    min-height: calc(100vh - 84px);
    height: auto;
    margin-left: 232px;
    width: calc(100% - 232px);
    box-sizing: border-box;
    margin-top: 4px;
}

.summary-container {
    width:100%;
    box-sizing: border-box;
}

.summary {
    display: flex;
    width:63%;
    flex-wrap: wrap;
}

.summary-welcome {
    width:calc(100% - 63%);
}