body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(246, 247, 249);
    box-sizing: border-box;
}

.topline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.login-form-container {
    border-radius: 20px;
}

.sidebar {
    background-color: rgb(42, 53, 70);
    height: 100%;
    box-sizing: border-box;
    width: 232px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 64px 0px 64px 0px;
}

.sidebar-logo {
    width: 100.03px;
    height: 121.97px;
}

.sidebar-menu {
    color: white;
    width: 232px;
    height: 46px;
    padding: 8px 56px 8px 56px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    font-family: 'Inter';
}

.sidebar-links {
    height: 229px;
    gap: 15px;
}

.sidebar-menu:hover {
    background-color: #091931;
    cursor: pointer;
}

.sidebar-icon {
    height: 30px;
    width: 30px;
}

.sidebar-legal {
    height: 317px;
    gap: 4px;
    padding: 243px 0px 0px 0px;
    box-sizing: border-box;
}

.sidebar-legal-element {
    width: 121px;
    height: 35px;
    padding: 8px;
    gap: 8px;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    box-sizing: border-box;
}

.aot {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    height: 96px;
    width: 1440px;
    box-sizing: border-box;
    padding: 20px 40px 20px 348px;
    background-color: rgba(255, 255, 255, 1);
}

.aot-text {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
}

.main-container {
    background-color: rgb(246, 247, 249);
    min-height: calc(100vh - 84px);
    height: auto;
    margin-left: 232px;
    width: calc(100% - 232px);
    box-sizing: border-box;
    margin-top: 4px;
}

.summary-container {
    width: 100%;
    box-sizing: border-box;
}

.summary {
    display: flex;
    width: 63%;
    flex-wrap: wrap;
}

.summary-welcome {
    width: calc(100% - 63%);
}