<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../../css/standard.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/assets.css">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>

    <div class="aot d_f_fs_c pad-x-80 bgC-white">
        <div class="aot-text">Kanban Project Management Tool</div>
        <div class="aot-symbols d_f_c_c">
            <a class="aot-icon-one" href="#">
                <img src="../img/help.png" alt="Help-Icon">
            </a>
            <a class="aot-icon-two" href="#">
                <div class="aot-circle d_f_c_c">
                    <div class="aot-inner-circle">XX</div>
                </div>
            </a>
        </div>
    </div>

</body>
</html>