<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../../css/standard.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/assets.css">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>

    <div class="sidebar d_c_c_c">
        <img class="sidebar-logo" src="../img/logo2.png" alt="Logo">
        <div class="sidebar-links">
            <a class="d_f_fs_c gap-8 sidebar-menu" href="#">
                <img class="sidebar-icon" src="../img/summary-icon.png" alt="Icon Summary">
                <p>Summary</p>
            </a>
            <a class="d_f_fs_c gap-8 sidebar-menu" href="#">
                <img class="sidebar-icon" src="../img/add-task-icon.png" alt="Icon Summary">
                <p>Add Task</p>
            </a>
            <a class="d_f_fs_c gap-8 sidebar-menu" href="#">
                <img class="sidebar-icon" src="../img/board-icon.png" alt="Icon Summary">
                <p>Board</p>
            </a>
            <a class="d_f_fs_c gap-8 sidebar-menu" href="#">
                <img class="sidebar-icon" src="../img/contacts-icon.png" alt="Icon Summary">
                <p>Contacts</p>
            </a>
        </div>
    </div>
    
</body>
</html>