<img class="sidebar-logo" src="../../assets/img/logo2.png" alt="Logo">

<div class="sidebar-links d_c_c">
    <a class="d_f_fs_c gap-8 sidebar-menu" href="../../summary.html">
        <img class="sidebar-icon" src="../../assets/img/summary-icon.png" alt="Icon Summary">
        <p>Summary</p>
    </a>
    <a class="d_f_fs_c gap-8 sidebar-menu" href="#">
        <img class="sidebar-icon" src="../../assets/img/add-task-icon.png" alt="Icon Summary">
        <p>Add Task</p>
    </a>
    <a class="d_f_fs_c gap-8 sidebar-menu" href="#">
        <img class="sidebar-icon" src="../../assets/img/board-icon.png" alt="Icon Summary">
        <p>Board</p>
    </a>
    <a class="d_f_fs_c gap-8 sidebar-menu" href="../../contacts.html">
        <img class="sidebar-icon" src="../../assets/img/contacts-icon.png" alt="Icon Summary">
        <p>Contacts</p>
    </a>
</div>

<div class="sidebar-legal d_c_c_c">
    <a class="sidebar-legal-element" href="#">Privacy Policy</a>
    <a class="sidebar-legal-element" href="#">Legal Notice</a>
</div>