
    <img class="sidebar-logo" src="../../assets/img/logo2.png" alt="Logo">

    <div class="sidebar-links d_c_c_c">
        <a class="d_f_fs_c gap-8 sidebar-menu" href="../../summary.html" id="sidebar-sum">
            <img class="sidebar-icon" src="../../assets/img/summary_grey.svg" alt="Icon Summary">
            <p>Summary</p>
        </a>
        <a class="d_f_fs_c gap-8 sidebar-menu" href="../../add-task.html">
            <img class="sidebar-icon" src="../../assets/img/edit_grey.svg" alt="Icon Summary">
            <p>Add Task</p>
        </a>
        <a class="d_f_fs_c gap-8 sidebar-menu" href="../../board.html">
            <img class="sidebar-icon" src="../../assets/img/board-icon_grey.svg" alt="Icon Summary">
            <p>Board</p>
        </a>
        <a class="d_f_fs_c gap-8 sidebar-menu" href="../../contacts.html">
            <img class="sidebar-icon" src="../../assets/img/contacts_grey.svg" alt="Icon Summary">
            <p>Contacts</p>
        </a>
    </div>

    <div class="sidebar-legal d_c_c_c width-max ">
        <a class="sidebar-legal-element d_f_c_c width-max" href="../../privacy-policy.html">Privacy Policy</a>
        <a class="sidebar-legal-element d_f_c_c width-max" href="../../legal-notice.html">Legal Notice</a>
    </div>
